<div class="top-panel">
    <div class="site-icon">
        <div class="discount top-discount"></div>
        <div class="pizza-logo" >
            <div id="pizza-title2" class="title-1" onclick="window.location.href=('/')" style="cursor: pointer">
                PIZZA
            </div>
            <div class="title-2" onclick="window.location.href=('/')" style="cursor: pointer">KMA</div>
        </div>
    </div>
    <div class="header-top">
        <div class="header-top-inside">
            <div class="phone-number visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                (044) 222 5 222
            </div>
            <div class="work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="free-delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <button class="btn entr-b">Ввійти</button>
        </div>
    </div>
    <div class="header-down">
        <span class="pizza-page-tittle">
            <a id="open-pizza-page" onclick="window.location.href=('/')" style="color: white; cursor: pointer" class="hidden-xs">Піца</a>
        </span>
    </div>
</div>
<div class="discount-panel">
    <div class="discount-down"></div>
    <div class="discount-title">ЦЬОГО ТИЖНЯ  НА ВСЕ</div>
    <span class="discount-num">-20%</span>
</div>