<div class="left-panel">
    <div class="page-title">
        <h2>
            <span class="count-title">Усі піци</span>
            <span class="badge orange pizza-count">8</span>
        </h2>
    </div>
    <div class="all-pizza-type-wrap">
        <ul id="wrap" class="nav nav-pills all-pizza-type" role="tablist" >
            <li class="active" id="all"><a>Усі</a></li>
            <li id="meat"><a>Мясні</a></li>
            <li id="pineapple"><a>З ананасами</a></li>
            <li id="mushroom"><a>З грибами</a></li>
            <li id="ocean"><a>З морепродуктами</a></li>
            <li id="vega"><a>Вега</a></li>
        </ul>
    </div>
    <div class="row" id="pizza_list"></div>
</div>